@import url("https://fonts.bunny.net/css?family=amita:400|arima:500");

:root{
  --bg:#cae9ff;
  --main:#e6f0ff;
  --text: #001d73;
  --light: #3E74D0;
  --lighter: #5a81db;
  --accent:#c9daff;
  --serif:"Amita", handwriting;
  --sans:"Arima", display;
}
html{
    height:100%;
    width:100%;
    font-size: 18px;
}
body:before{
    background-attachment: scroll;
    content: '';
    display: block;
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    transform: scale(1);
    z-index: -700;
    background: var(--bg);
    background-image: url("img/cloud-bg.png");
    background-size: repeat, auto;
    background-position: center, 0% 0%;
    background-repeat: repeat, repeat;
}
body{
    background-color: var(--bg);
    font-family: var(--sans);
    color: var(--text);
    font-size:1rem;
    line-height:normal;
    font-weight:150;
}
body, html {
    scrollbar-width: auto;
    scrollbar-color: var(--lighter) var(--main);
  }
/*here we goooooo*/
#container{
    max-width:900px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding:15px
}
#content{
    position: relative;
    background-color: var(--main);
    border: 15px solid transparent;
    border-image: url("img/frame.png") round;
    border-image-slice: 6;
    border-image-width: 10px;
    border-image-outset: 10px;
}
.border{
    border: 10px solid transparent;
    border-image: url("img/frame.png") round;
    border-image-slice: 6;
    border-image-width: 10px;
}
.box{
    background-color: var(--accent);
    border: solid 2px var(--text);
    width: 12rem;
    padding: 10px;
    margin: 2px
}
.box p{
    line-height: 1rem;
    margin-bottom: -10px;
}
.boxtop{
    background-color: var(--light);
    border-bottom: solid 2px var(--text);
    font-size: 1.1rem;
    text-align: center;
    color: white;
    padding: 5px;
    margin:-10px;
    margin-bottom: 11px;
}
.scrollbox {
    text-align:left;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}
#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
.inline{
    display: inline;
    padding: 5px;
}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
}
footer{
    background-color: var(--light);
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px -15px -15px;
    padding-left: auto;
    padding-right: auto;
  }
/*nav*/
#nav {
    background-color: var(--light);
    width: 100%;
    padding: 0 15px;
    margin: 10px -15px;
    color: white;
    font-family: var(--serif);
    font-size: 1.25rem;   
}
#nav ul {
    display:flex;
    list-style-type:none;
    justify-content: space-evenly;
  }
#nav li{
    margin: 0 1rem;
}
#nav a{
    text-decoration:none
}
#nav a:hover{
    color: var(--bg);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
/*text*/
h1{
    font-family: var(--serif);
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
h2{
    font-family: var(--serif);
    margin-top: -5px;
}
b{
    font-weight: 700;
}
a{
    text-align: inherit;
    text-decoration: underline;
    color:inherit
}
a:hover{
    color: var(--lighter);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
footer a:hover{
    color: var(--bg);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
.normal{
    line-height: normal;
    padding-bottom: 1em;
}
div.paragraphs{
    display: block;
    text-align: start;
    width: 90%;
    margin: auto;
}
/*fun stuff*/
hr{
    background-color:var(--text);
    border:none;
    border-radius:5px;
    height: 2px;
}
hr.half {
    background-color: rgba(0, 0, 0, 0.42);
    border: none;
    border-radius: 5px;
    height: 2px;
  }
#icon a{
    text-decoration: none;
}
#icon img{
    height: 25px;
    padding: 0 10px;
}
.myfl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
.myfltext {
    display: inline;
    margin: 10px 10px -10px;
}
.myfltext span a{
    font-size: 1.15rem;
    font-weight: 800;
}
.myfltext p{
    margin-top: -3px;
}
#updates{
    height:80px;
    font-size: smaller;
    scrollbar-width: thin;
    margin: -10px auto;
}
#list{
    width: 70%;
    margin: auto
}
#pfp{
    width: 215px;
    float:left;
    padding: 0  1rem 0 0;
}
.smol p{margin: -2px;}
.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
textarea{
    background-color: var(--main);
    color: var(--text);
    border: dashed 3px var(--text);
    font-family: var(--sans);
    font-size:0.7rem;
    line-height: 0.7rem;
    padding:5px;
    height:25px;
    width: 150px;
}
::selection {
    background: var(--lighter);
    color:white
  }
#preloader {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background: var(--bg)
      url("img/hearts.svg")
      no-repeat center;
    z-index: 9999;
  }
/*media querey*/
@media (max-width: 770px){
    html{
        font-size:15.5px
    }
    .box{
        width: 90%;
    }
    #icon img{
        display: none;
    }
    #flex{
        display: inline-block;
    }
    #nav ul{
        margin-left: -2.75rem;
        flex-wrap: wrap;
    }
    p{
        font-size: 1.1rem;
    }
    #list{
        width: 90%;
        padding: 0 15px;
    }
    #pfp{
        display: block;
        width: 200px;
        float: none;
        margin: auto;
        padding: 0.5rem;
    }
    .myfl, .myfltext span{
        display: block;
        text-align: center;
    }
    .myfl{
        margin-bottom: -35px;
    }
}