
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ tagline }} // {{ title }}</title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="color-scheme" content="light only"/>
  <meta name="theme-color" content="#{{ color }}">
    
  <!--meta tags-->
  <meta name="description" content="{{ description }}"/>
  <meta property="og:site_name" content="Pastel Prince FLs"/>
  <meta property="og:title" content="{{ tagline }} // {{ title }}"/>
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ description }}"/>
  <meta property="og:image" content="https://pastelprince.netlify.app/img/{{ name }}/card.png"/>
  <meta property="og:image:height" content="800"/>
  <meta property="og:url" content="https://pastelprince.netlify.app/{{ name }}"/>
    
  <!--and the bird app bc they just have to be special-->
  <meta name="twitter:title" content="{{ tagline }} // {{ title }}" />
  <meta name="twitter:image" content="https://pastelprince.netlify.app/img/{{ name }}/card.png">
  <meta name="twitter:description" content="{{ description }}">
  <meta property="twitter:card" content="summary_large_image"/>
    
  <link rel="canonical" href="https://pastelprince.netlify.app/{{ name }}"/>
  <link rel="icon" type="image/x-icon" href="img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="style.css">

  <div id="preloader"></div>
</head>
<body>
{{ content | safe }}
<script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function () {
      loader.style.display = "none";
    });
</script>
</body>
</html>
