<h2>Navigation</h2>
<hr id="nav-hr">
<li><a href="index">Home</a></li>
<hr>
<details>
    <summary>About</summary>
    <li>About Me</li>
    <li><a href="guestbook">Guestbook</a></li>
</details>
<hr>
<details>
    <summary>Shrines</summary>
    <li><a href="apollo">Apollo</a></li>
    <li>Hermes</li>
</details>
<hr>
<li><a href="blog">Blog</a></li>
<div id="hide">
    <hr>
    <small>A button for your travels!</small>
    <img src="https://raw.githubusercontent.com/baileylockheart/lockheartlove/refs/heads/main/public/helpol/img/altarbtn.png">
    <textarea><a target="_blank" href="https://altar.lockheart.love/"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/buttons/altarbtn.png"></a></textarea>
</div>