@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,700;1,500&family=Alegreya:ital,wght@0,500;0,700;1,500&display=swap');
:root{
  --bg:#6d3c55;
  --altbg:#7d4361;
  --main:#f7ebf7;
  --light: #ab65ff;
  --lighter: #be8cfa;
  --serif:"Alegreya", serif;
  --sans:"Alegreya Sans", sans-serif;
}
html{
    height:100%;
    width:100%;
    font-size: 18px;
}
body:before{
    background-attachment: scroll;
    content: '';
    display: block;
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    transform: scale(1);
    z-index: -700;
    background-image: url(images/sparkles.png);
    background-size: repeat, auto;
    background-position: center, 0% 0%;
    background-repeat: repeat, repeat;
    background-color: var(--bg);
}
body{
    background-color: var(--bg);
    font-family: var(--sans);
    color: var(--main);
    font-size:1rem;
    line-height:normal;
    font-weight:150;
}
body, html {
    scrollbar-width: auto;
    scrollbar-color: var(--lighter) var(--main);
  }
/*here we goooooo*/
#container{
    display: flex;
    max-width:950px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:15px
}
header{
    max-width:914px;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
    margin-bottom: 10px;
    background-color: var(--altbg);
    border-radius: 15px;
    font-size: 2.3rem;
    font-family: var(--serif);
    text-align: center;
}
header a{
    text-decoration: none;
}
#top{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
    margin-bottom: -5px;
    background-color: var(--altbg);
    border-radius: 15px;
    font-size: 1.25rem;
    font-family: var(--sans);
    text-align: center;
}
#bottom{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
    margin-top: -5px;
    background-color: var(--altbg);
    border-radius: 15px;
    font-size: 1.25rem;
    font-family: var(--sans);
    text-align: center;
}
#repo{
    background-color: var(--altbg);
    border-radius: 15px;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 10px;
    text-align: start;
}
#code{
    background-color: var(--altbg);
    border-radius: 15px;
    width: 17rem;
    font-size: 1rem;
    padding: 1rem;
    text-align: start;
}
#code a{font-size: 0.9rem;}
.language{
    margin-top: -3.5rem;
    padding-bottom: 15px;
    text-align: end;
}
#codeID{
    width: 100%;
    min-height: 565px;
    height:100%;
    overflow-y: auto;
    border: solid white 2px;
    border-radius: 13px;
}
/*sidebar*/
#sidebar{
    background-color: var(--altbg);
    border-radius: 15px;
    width:17rem;
    font-size: 1rem;
    padding: 1rem;
}
#pfp{
    width: 100%;
    border-radius: 13px;
    margin-bottom: 25px;
}
.inner, .inner h2{
    text-align: center;
    line-height: 0.75rem;
}
/*text*/
h1{
    font-family: var(--serif);
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
h2{
    font-family: var(--serif);
    text-align: left;
    margin-top: -5px;
}
b{
    font-weight: 700;
}
a{
    text-align: inherit;
    text-decoration: underline;
    color:inherit;
}
a:hover{
    color: var(--light);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
#color{
    font-family: var(--serif);
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: inherit;
    text-decoration: underline;
    color:var(--light);
}
#color:hover{
    color: var(--lighter);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
footer a:hover{
    color: var(--bg);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
/*fun stuff*/
hr{
    background-color:var(--main);
    border:none;
    border-radius:5px;
    height: 2px;
}
::selection {
    background: var(--light);
    color:white
  }
/*icons*/  
svg{
    width: 1.2rem;
    margin-top:-65px;
    margin-bottom:-70px;
    fill:var(--main)
}
.linkicon{
    width: 0.8rem;
}
.doc{
    width: 1.3rem;
    margin-top:-65px;
    margin-bottom:-70px;
    margin-right: .5rem;
    fill:var(--main)
}
.indent{
    padding-left: 1rem;
}
.indent2{
    padding-left: 2rem;
}
.folder{
    width: 1.7rem;
    margin-top:-65px;
    margin-bottom:-70px;
    margin-right: .5rem;
    fill:var(--main)
}
.folder2{
    width: 1.5rem;
    margin-top:-65px;
    margin-bottom:-70px;
    margin-right: .5rem;
    fill:var(--main)
}  
.folder3{
    width: 1.5rem;
    margin-top:-65px;
    margin-bottom:-70px;
    margin-right: .5rem;
    fill:var(--lighter)
}   
#preloader {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background: var(--bg)
      url("/images/oval.svg")
      no-repeat center;
    z-index: 9999;
  }
/*dropdown*/
.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    position: relative;
}
.dropdown-content a {
    text-decoration: none;
}
.show {
    display:block;
}
/*media querey*/
@media (max-width: 768px){
    html{
        font-size:17px
    }
    #container{
        display: block;
        margin-left: 1rem;
        margin-right: 2.75rem;}
    header{
        margin-left: 1rem;
        margin-right: 0.75rem;
    }
    #sidebar{
        width: 100%;
        font-size: 1.15rem;
        margin-left: auto;
        margin-right: auto;
    }
    #pfp{
        width: 200px;
    }
    #repo{
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
    #codeID{
    min-height: 400px;
    }
    #code{
        width:100%;
    }
    #code a{font-size: 1.1rem;}
}