@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');    
:root{
  --bg:#E02D2A;
  --altbg:#f29f9f;
  --altbg2:#f07f7f;
  --altbg3:#ceb8b8;
  --main:#000;
  --light: #a32524;
  --lighter: #e10000;
  --serif:"Noto Serif", serif;
}
html{
    height:100%;
    width:100%;
    font-size: 18px;
}
body:before{
    background-attachment: scroll;
    content: '';
    display: block;
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    transform: scale(1);
    z-index: -700;
    background-image: linear-gradient(to right, #C71B16, #F93F3E);
}
body{
    background-color: var(--bg);
    font-family: var(--serif);
    color: var(--main);
    font-size:1rem;
    line-height:normal;
    font-weight:150;
}
body, html {
    scrollbar-width: auto;
    scrollbar-color:  #b36767 #a32524;
  }
/*here we goooooo*/
#container{
    display: flex;
    max-width:1000px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:15px
}
header{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width:964px;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
    margin-bottom: 10px;
    background-color: var(--altbg3);
    border-radius: 5px;
    border: solid 2px black;
    font-size: 1.75rem;
    font-family: var(--serif);
    text-align: center;
}
#logo{
    margin-bottom: -0.15rem;
    margin-right: 1rem;
}
footer{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width:964px;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
    margin-bottom: 10px;
    background-color: var(--altbg);
    border-radius: 5px;
    border: solid 2px black;
    font-size: .9rem;
    font-family: var(--sans);
    text-align: center;
}
#main{
    background-color: var(--altbg);
    border-radius: 5px;
    border: solid 2px black;
    width: 100%;
    height:20rem;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 10px;
    text-align: start;
    overflow-y: auto;
}
/*sidebar*/
#sidebar{
    background-color: var(--altbg2);
    border-radius: 5px;
    border: solid 2px black;
    width:16rem;
    text-align: center;
    font-size: 1.15rem;
    padding: 1rem;
}
#sidebar h2{
    font-size: 1.3rem;
}
#sidebar ul{
    text-align: start;
    line-height: 2rem;
    list-style-type: "★  ";
}
/*text*/
h1{
    font-family: var(--serif);
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
h2{
    font-family: var(--serif);
    text-align: center;
    margin-top: 5px;
}
a{
    text-align: inherit;
    text-decoration: underline;
    color:inherit;
}
a:hover{
    color: var(--light);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
/*tabs*/
.tabcontent {
    display: none;
    padding: 10px 0;
    border-top: none;
    padding-bottom:15px;
  } 
.tabcontent:target{
    display:block
}
.tablinks{
    text-decoration: none;
}
@supports selector(:not(:has(+ *))) {
  body:not(body:has(.tabcontent:target)) .home {
      display: block;
    }
}
/*fun stuff*/
#memberscontainer{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    }
.member{
    background-color: var(--altbg2);
    text-align: center;
    border: solid 2px var(--main);
    width:150px;
    padding: 0px 15px 10px;
    margin: 5px;
}
::selection {
    background: var(--altbg3);
    color:white
  }
hr{
    background-color:var(--main);
    border:none;
    border-radius:5px;
    height: 2px;
}
#preloader {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background: #9d5959
      url("straykids/img/3racha.gif")
      no-repeat center;
    z-index: 9999;
  }
/*media querey*/
@media (max-width: 768px){
    html{
        font-size:17px
    }
    #container{
        display: block;
        margin-left: 1rem;
        margin-right: 2.75rem;}
    header{
        margin-left: 1rem;
        margin-right: 0.75rem;
    }
    #sidebar{
        width: 100%;
        font-size: 1.15rem;
        margin-left: auto;
        margin-right: auto;
    }
    #main{
        width: 100%;
        height:30rem;
        margin-top: 10px;
        margin-left: 0;
    }
    iframe{
        width: 100%;
    } 
}